# data-files
*.dat
*.csv

# misc:
.DS_Store
Trash
*.copyright
*.copyright
*.exerinfo
*.exerinfo
*.dlog
*.user

# python
__pycache__
.ipynb*

# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*
Session.vim

# python venv
env/
venv/

# large files
model_tuning/
models/

# project-specific files
.dvc*
dvc.lock
assets/plots/
assets/profile/
assets/metrics/
