        <div class=box>
            <h2>Overview over existing virtual sensors</h2>

            <div class=overviewTable>
                <table>
                    <thead>
                        <tr>
                        <th>ID</td>
                        <th>Dataset name</th>
                        <th>Target variable</th>
                        <th>R2-score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for sensor in virtual_sensors|reverse%}
                        <tr>
                            <td>{{virtual_sensors[sensor]["id"]}}</td>
                            <td>{{virtual_sensors[sensor]["params"]["profile"]["dataset"]}}</td>
                            <td>{{virtual_sensors[sensor]["params"]["clean"]["target"]}}</td>
                            <td>{{virtual_sensors[sensor]["metrics"]["r2"]}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>
